@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d6c2c6;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #83737b;
}

/* Global transitions */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Remove default input outline and style it with our design */
input:focus,
button:focus {
  outline: none;
}

/* Prevent text selection on buttons */
button {
  user-select: none;
}
